*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inder',sans-serif;
}
body{
    background: #F3F3F3;
}
section{
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 0% 3%;
    /* background-color: #2196F3; */
}
.item{
    /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 20px 0px;
}
.item1{
    grid-column: span 1;
}
.item2{
    grid-column: span 2;
}
.item3{
    grid-column: span 3;
}
.item4{
    grid-column: span 4;
}
.item5{
    grid-column: span 5;
}
.item6{
    grid-column: span 6;
}
.item7{
    grid-column: span 7;
}
.item8{
    grid-column: span 8;
}
.item9{
    grid-column: span 9;
}
.item10{
    grid-column: span 10;
}
.item11{
    grid-column: span 11;
}
.item12{
    grid-column: span 12;
}

.logo{
    font-size: 2.074rem;
    user-select: none;
}

.logo h3{
    font-size: 2.074rem;
    color: #ffff;
}

.logo h4{
    font-size: 1.2rem;
    color: #ffff;
}

.logo a{
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: #000000;
}

.options{
    display: flex;
    flex-direction: row;
}

.right-side a{
    font-size: 1.44rem;
    color: #ffff;
    width: 100%;
    margin-bottom: 10px;
}

.left-side .logo > *{
    margin-top: 10px;
}

.options a{
    margin: 15px 25px;
    font-size: 1.2rem;
    cursor: pointer;
    user-select: none;
    position: relative;
    text-decoration: none;
    color: #000000;
}


.options a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 0, 0); 
    transition: width 0.3s ease; 
}

.options a:hover::after{
    width: 100%;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tittle{
    margin-top: 53%;
}

.tittle h1{
    font-size: 2.986rem;
}

.tittle p{
    font-size: 1rem;
}

.btn {
    padding: 10px 20px;
    margin: 20px 0px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-shop {
    background-color: #3F3C3C;
    color: white;
    border: none;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.btn-shop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #E4E4E4;
    transition: all 0.5s ease;
    z-index: 0;
}

.btn-shop:hover::before {
    left: 0;
    z-index: -1;
}

.btn-shop:hover {
    color: #3F3C3C;
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.home{
    scroll-snap-type: y mandatory;
}

.new-arrivals.tittle{
    font-size: 1.728rem;
    margin: 0 auto 50px auto;
    text-align: center;
    user-select: none;
}

.product-home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    background-color: #E4E4E4;
}

.product-home{
    cursor: pointer;
}

.about .item3 p{
    font-size: 2rem;
}

.about_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.item3.flex-col, .item4.about_image{
    margin-bottom: 100px;
}

.form-contact input, .form-contact textarea{
    padding: 15px 100px 15px 15px;
    margin: 5px 0px;
    width: 100%;
    outline: none;
    border: none;
    background-color: #3F3C3C;
    color: white;
    resize: none;
    border-radius: 5px;
}

.form-contact input::placeholder, .form-contact textarea::placeholder{
    color: white;
    font-size: 15px;
}

.form-contact textarea{
    height: 150px;
}

.btn-contact{
    margin-top: 5px;
    background-color: #3F3C3C;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
}

.btn-contact:hover {
    background-color: #E4E4E4;
    color: #3F3C3C;
    transition: all 0.5s ease-in-out;
    border: #3F3C3C solid 1px;
}

footer{
    background-color: #111111;
}

.footer-icons{
    color: #ffff;
    font-size: 2rem;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.footer-icons:hover{
    color: coral;
    transition: all 0.3s ease-in-out;
}

.right-side a:hover{
    color: coral;
    transition: all 0.3s ease-in-out;
}

/*  Error Page    */

.error-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-page p:nth-child(2){
    margin: 3% 0%;
    font-size: bold;
}

.error-page a{
    font-size: 1.5rem;
    margin: 1% 0%;
    text-decoration: none;
    font-size: bold;
}